<h5 class="center-text">You have pending sightings to approve for this collection.</h5>
  <% @collection.pending_observations.each do |o|%>
    <% if o.image_file_name.present? %>
      <li class= "center-pic"><%= image_tag o.image.url(:medium) %></li>
    <% end %>
    <li class= "center-text"><span><em><%= o.description %></span></em><li>
    <li class= "center-text"><span>PENDING. Pitched by <%= link_to o.curator.public_name, curator_path(o.curator) %></span><li>
    <li class= "center-text">
      <button data-dropdown="drop" aria-controls="drop" aria-expanded="false" class="small secondary  button dropdown">Permissions</button><br>
      <ul id="drop" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false" tabindex="-1">
        <li><%= link_to "Approve", collection_observation_path(@collection, o), method: "put", params: {:"observation[id]" => o.id}%></li>
        <li><%= link_to "Deny", collection_observation_path(@collection, o), :method => :delete %></li>
      </ul>
    <% end %>
  </li>
