<h5 class="center-text">You have pending sightings to approve for this collection.</h5>
<% @collection.pending_observations.each do |o|%>
  <ul class = "center-text">
  <% if o.image_file_name.present? %>
    <li><%= image_tag o.image.url(:medium) %></li>
  <% end %>
  <li><span><em><%= o.description %></span></em><li>
  <li><span>PENDING. Pitched by <%= link_to o.curator.public_name, curator_path(o.curator) %></span><li>
  </ul>

<div class="row">
  <div class = "center-text">
  <ul class="small-centered round secondary button-group">
    <li><%= button_to "Approve", collection_observation_path(@collection, o), method: "put", params: {:"observation[id]" => o.id}, class: 'small secondary button' %></li>
    <li><%= button_to "Delete", collection_observation_path(@collection, o), :method => :delete, class: 'small secondary button'%></li>
  </ul>
  </div>
</div>

<% end %>


