<% if collection_description?(@collection) %>
<strong class="show-for-small-only">
  <div class = "collection-description">
    <div class= "center-text">
      <ul class="accordion" data-accordion>
        <li class="accordion-navigation">
          <a href="#panel1a">Description</a>
          <div id="panel1a" class="content">
            <%= @collection.description%>
          </div>
      </ul>
  </div>

<% end %>

</strong>

  <div class = "collection-description">
    <div class= "center-text">
      <ul class="accordion" data-accordion>
        <li class="accordion-navigation">
          <a href="#panel1a">Stats</a>
          <div id="panel1a" class="content">
               <p>Created on <%= @collection.created_at.strftime("%b %d, %Y")%></p>
        <p>Last updated on <%= @collection.updated_at.strftime("%b %d, %Y")%></p>
        <p><%= stat_view_helper(@collection.observations.count, "sighting") %> by
        <%= stat_view_helper(@collection.curators.uniq.count, "curator") %>
          </p>
          </div>
      </ul>
  </div>


