<% if logged_in? %>
<% collections.each do |c| %>
  <% if c.visible_to_user?(current_user) %>
    <div class="large-4 small-6 columns">
      <% if c.observations.last && c.observations.last.image_file_name.present?%>
        <% if c.observations.last.approved? %>
          <div class = "image-thumb"><%= link_to (image_tag c.observations.last.image.url(:thumb)), collection_path(c) %></div>
        <% else %>
           <div class = "image-thumb"><%= link_to (image_tag c.observations[-2].image.url(:thumb)), collection_path(c) %></div>
        <% end %>
      <% else %>
      <div class = "image-thumb"><%= link_to (image_tag 'blank.png'), collection_path(c) %></div>
      <% end %>
          <div class="category-info">
          <h5><%= link_to c.title, collection_path(c)%></h5>
          <h6 class="subheader"><%=c.curator.name%></h6>
            <div class="subheader">
            <% if belongs_to_current_user?(c) %>
              <button data-dropdown="drop" aria-controls="drop" aria-expanded="false" class="small secondary radius button dropdown">Permissions</button><br>
              <ul id="drop" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false" tabindex="-1">
                <li><%= link_to 'Edit Permissions', collection_permissions_path(c), method: "get"%></li>
                <li><%= link_to "Delete", collection_path(c), :method => :delete %></li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<%end%>
  <% else %>
    <% collections.each do |c| %>
      <% if c.public? %>
        <div class="large-4 small-6 columns">
      <% if c.observations.last && c.observations.last.image_file_name.present?%>
          <% if c.observations.last.approved? %>
            <div class = "image-thumb"><%= link_to (image_tag c.observations.last.image.url(:thumb)), collection_path(c) %></div>
          <% else %>
            <div class = "image-thumb"><%= link_to (image_tag c.observations[-2].image.url(:thumb)), collection_path(c) %></div>
          <% end %>
      <% else %>
          <div class = "image-thumb"><%= link_to (image_tag 'blank.png'), collection_path(c) %></div>
      <% end %>
          <div class="category-info">
          <h5><%= link_to c.title, collection_path(c)%></h5>
          <h6 class="subheader"><%=c.curator.name%></h6>
        </div>
        </div>
        </div>
      <%end%>
    <%end%>
  <%end%>





