<%= flash[:errors] %>
<%= flash[:notice] %>
<div class= "content">
  <% if @collection.owned_by?(current_user) %>
      <h3 class = "center-text">Settings</h3>
      <div class = "div-header"></div>
      <h3 class = "center-text"><%= @collection.title %></h3>
      <h5 class = "center-text"><%= @collection.description %></h2>
    <h6 class = "center-text">Visibility:
      <% if @collection.is_private %>
        Private (only visible to you)
        <p class = "secure-text"><%= button_to "Make Public", collection_path(@collection), method: "put", params: {:"collection[is_private]" => false}, class: "secondary small button" %></p>
      <% else %>
        Public (visible to everyone)
        <p class = "secure-text"><%= button_to "Make Private", collection_path(@collection), method: "put", params: {:"collection[is_private]" => true}, class: "secondary small button" %></p>
      <% end %>
    </h6>

  <%= render partial: 'new_form', locals: { collection: @collection, updating: true } %>

  <% else %>
    <h1>You need to <%= link_to 'log in', login_path %> to see this page.</h1>
  <% end %>
  <div class= "center-text"><%= button_to "Go Back", collection_path(@collection), method: "get", class: "small button secondary"%></div>
</div>
