<% if @collection.owned_by?(current_user) %>
  <h1>Permissions for collection <em><%= @collection.title %></em>:</h1>

  <h3>Visibility:
    <% if @collection.private %>
    Private
    <p>Find a co-curator:
      <%= form_tag(search_curators_path, method: "get", enforce_utf8: false) do %>
        <%= text_field_tag(:c, "", placeholder: "Find a curator") %>
        <%= button_tag "search", name: nil, type: "submit" %>
      <% end %>
    </p>
      <%= form_for(@collection, url: "/collections/#{@collection.id}", method: 'put') do |f|%>
      <%= f.hidden_field :private, value: false %>
      <p><%= f.submit "make public" %></p>
    <% end %>
    <% else %>
      Public <%= form_for(@collection, url: "/collections/#{@collection.id}", method: 'put') do |f|%>
      <%= f.hidden_field :private, value: true %>
      <p><%= f.submit "make private" %></p>
    <% end %>
    <% end %>
  </h3>
<% else %>
  <h1>You need to <%= link_to 'log in', login_path %> to see this page, buddy!</h1>
<% end %>

