<div class = "center-text">
  <%= flash[:errors] %>
  <%= flash[:notice] %>
</div>

<div class = "content">
  <%= render partial: 'collections/collection_header', locals: { collection: @collection } %>
  <% if logged_in? %>
    <% if @collection.owned_by?(current_user) %>
      <%= render partial: 'collections/edit_collection_permissions', locals: { collection: @collection } %>
      <% if @collection.pending_observations.any? %>
        <%= render partial: 'collections/pending_observations', locals: { collection: @collection } %>
      <% end %>
    <% end %>
    <% if @collection.visible_to_user?(current_user) %>
      <% if @collection.approved_observations.any? %>
        <% @collection.approved_observations.each do |o|%>
          <%= render partial: 'observations/observation_show_on_collection', locals: { o: o } %>
        <% end %>
      <% end %>
    <% else %>
      <h2>This is a private collection. Only those with authorization can view.</h2>
    <%end%>
  <% else %>
    <% if @collection.public? %>
      <% if @collection.approved_observations.any? %>
        <% @collection.approved_observations.each do |o|%>
          <%= render partial: 'observations/observation_show_on_collection', locals: { o: o } %>
        <% end %>
      <% end %>
    <% else %>
      <h2>This is a private collection. Only logged in users with viewing permission can view.</h2>
    <%end%>
  <% end %>
</div>
