<%= flash[:errors] %>
<%= flash[:notice] %>

<div class = "content">
  <h2 class = "center-text"><%= @collection.title  %></h2>
  <div class = "center-text">Share these spottings:<%= social_share_button_tag("Check out what I spotted: #{@collection.title}") %></div>
  <div class= "center-text"><%= button_to "Add a Sighting", new_collection_observation_path(@collection), method: "get", class: "radius small button"%></div>

  <% if logged_in? %>
    <% if @collection.owned_by?(current_user) %>
      <div class= "center-text"><%= button_to "Edit Collection Permissions", collection_permissions_path(@collection), method: "get", class: "radius small button alert"%>
      </div>
      <% if has_pending_observations?(@collection) %>
        <h5 class="center-text">You have pending sightings to approve for this collection.</h5>
        <% @collection.pending_observations.each do |o|%>
          <li class= "center-pic"><%= image_tag o.image.url(:medium) %></li>
          <li class= "center-text"><span><em><%= o.description %></span></em><li>
          <li class= "center-text"><span>PENDING. Pitched by <%= link_to o.curator.public_name, curator_path(o.curator) %></span><li>
          <li class= "center-text"><%= button_to "Approve", collection_observation_path(@collection, o), :method => :put, class: "radius small button info" %><li>
          <div id = "delete-observe"><li class= "center-text"><%= button_to "Delete", collection_observation_path(@collection, o), :method => :delete, class: "radius small button alert" %><li></div>
        <% end %>
      <% end %>
    <% end %>
    <% if @collection.visible_to_user?(current_user) %>
      <% if has_approved_observations?(@collection) %>
        <% @collection.approved_observations.each do |o|%>
        <% if o.image_file_name.nil?%>
            <li class= "only-text"><span><h5><em><%= link_to o.description, collection_observation_path(@collection,o) %></span></em></li>
            <li class= "center-text"><span>Added by <%= link_to o.curator.name, curator_path(o.curator) %></span></h5></li>
        <% else %>
            <li class= "center-pic"><%= link_to (image_tag o.image.url(:medium)), collection_observation_path(@collection,o) %></li>
            <li class= "center-text"><span><em><%= o.description %></span></em><li>
            <li class= "center-text"><span>Added by <%= link_to o.curator.name, curator_path(o.curator) %></span><li>
            <div class = "div-header"></div>
          <% end %>
        <%end%>
      <%end%>
    <% else %>
      <h2>This is a private collection. Only users with viewing permission can view.</h2>
    <%end%>
  <% else %>
    <% if @collection.public? %>
      <% if @collection.approved_observations.first %>
        <% @collection.approved_observations.each do |o|%>
<<<<<<< HEAD
          <li class= "center-pic"><%= image_tag o.image.url(:medium)  %></li>
          <li class= "center-text"><span><em><%= o.description %></span></em><li>
          <li class= "center-text"><span>Added by <%= link_to o.curator.public_name, curator_path(o.curator) %></span><li>
=======
           <% if o.image_file_name.nil?%>
              <li class= "only-text"><span><em><%= o.description %></span></em><li>
              <li class= "center-text"><span>Added by <%= link_to o.curator.name, curator_path(o.curator) %></span></li>
            <% else %>
              <li class= "center-pic"><%= link_to (image_tag o.image.url(:medium)), collection_observation_path(@collection,o) %></li>
              <li class= "center-text"><span><em><%= o.description %></span></em><li>
              <li class= "center-text"><span>Added by <%= link_to o.curator.name, curator_path(o.curator) %></span><li>
            <%end%>
>>>>>>> fix the blank images popping up for collections show, collections index. Add new font for only text observations.
        <%end%>
      <%end%>
    <% else %>
      <h2>This is a private collection. Only logged in users with viewing permission can view.</h2>
    <%end%>
  <% end %>
</div>





