  <div id = "welcome-logo">
  <h1 id = "logo-text"><%= link_to 'Trainspotter', collections_path%>
  </h1>
  <h5 class = "center-text">A place for communal collecting</h5>
  <img src ="/images/banner.jpg">
  <div class="search-bar">
    <strong class="show-for-small-only">
      <%= form_tag(search_collections_path, method: "get", enforce_utf8: false) do %>
        <%= text_field_tag(:c, "", placeholder: "Search Collections") %>
        <%= button_tag "Search!", name: nil, class: "secondary tiny button", type: "submit" %>
      <% end %>
    </strong>
  </div>
</div>
<% if logged_in? %>
  <div class= "welcome-search"><%= button_to "Add a new collection", new_collection_path, method: "get", class: "small button"%></div>
<% else %>
  <div class= "center-text"><%= button_to "Sign up to become a curator", login_path, method: "get", class: "small button"%>
  </div>
<% end %>

<div class = "welcome-grid">
<ul class="small-block-grid-3">
  <li><%= link_to image_tag("/images/tile_front.jpg"), "http://trainspotterapp.herokuapp.com/collections/50" %></li>
  <li><%= link_to image_tag("/images/dog_front.jpg"), "http://trainspotterapp.herokuapp.com/collections/81" %></li>
  <li><%= link_to image_tag("/images/bridge_front.jpg"), "http://trainspotterapp.herokuapp.com/collections/10" %></li>
</ul>
</div>

<div class= "center-text">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel1a">About</a>
      <div id="panel1a" class="content">
        A trainspotter is someone who makes an effort to "spot" all of a certain type of rolling stock. Trainspotters collect and exchange detailed information about trains and other equipment on the railway network, and in the process they become very knowledgeable about its operations.<br><br>

        An homage to this niche hobby, Trainspotter is an app for seeking, collecting, curating and cultivating the things that interest us.<br><br>

        Here, you can create collections that anyone can add to. And you can add to anyone else's collection. How many can we spot, together?
        </div>
    </li>
    <li class="accordion-navigation">
      <a href="#panel2a">The Team</a>
      <div id="panel2a" class="content">
        Team Trainspotter is Maggie Baker, Phil Sofia, and Jason Wang. We made this app in 7 days for our final project at <a href="http://devbootcamp.com/">Dev Bootcamp</a>.
      </div>
    </li>
    <li class="accordion-navigation">
      <a href="#panel3a">Technologies</a>
      <div id="panel3a" class="content">
        We made Trainspotter with Ruby on Rails, jQuery, Foundation, PostgreSQL, Amazon S3, PaperClip, Adobe Photoshop, OmniAuth, will_paginate, and Social Share Button.
      </div>
    </li>
  </ul>
</div>
