<div id = "welcome-logo">
  <h1 id = "logo-text"><%= link_to 'Trainspotter', collections_path%>
  </h1>
  <img src ="/images/banner.jpg">
  <div class="search-bar">
    <strong class="show-for-small-only">
      <%= form_tag(search_collections_path, method: "get", enforce_utf8: false) do %>
        <%= text_field_tag(:c, "", placeholder: "Search Collections") %>
        <%= button_tag "Search!", name: nil, class: "secondary tiny button", type: "submit" %>
      <% end %>
    </strong>
  </div>
</div>
<% if logged_in? %>
  <div class= "welcome-search"><%= button_to "Add a new collection", new_collection_path, method: "get", class: "small button"%></div>
<% else %>
  <div class= "center-text"><%= button_to "Sign up to become a curator", login_path, method: "get", class: "small button"%>
  </div>
<% end %>

<div class= "center-text">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel1a">About</a>
      <div id="panel1a" class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit lobortis semper. Nulla imperdiet lorem eu tincidunt porta. Donec imperdiet justo neque, at consequat enim scelerisque ut. Nullam ut lorem imperdiet, pulvinar odio sit amet, tincidunt erat. Praesent tincidunt nisi purus, vel facilisis est accumsan eu. Vestibulum condimentum nisi libero, vitae fringilla elit interdum sit amet. Morbi tempus tellus finibus sapien malesuada pellentesque sodales eu lorem.
        </div>
    </li>
    <li class="accordion-navigation">
      <a href="#panel2a">The Team</a>
      <div id="panel2a" class="content">
        Team Trainspotter is Phil Sofia, Jason Wang and Maggie Baker. We made this app in 7 days for our final project at Dev Bootcamp.
      </div>
    </li>
    <li class="accordion-navigation">
      <a href="#panel3a">Technologies</a>
      <div id="panel3a" class="content">
        We made Trainspotter with Ruby on Rails and Javascript on the back end, and Foundation for the front end.
      </div>
    </li>
  </ul>
</div>
