<%= flash[:errors] %>

<div class="form">
<h2>New Observation</h2>
<%= form_for @observation, url: collection_observations_path(@collection),  html: { multipart: true } do |f|%>
  <p><%= f.text_area :description, placeholder: 'Description', cols: '92', rows: '10' %></p>
  <p><%= f.file_field :image %></p>
  <%= f.hidden_field :collection_id, value: @collection.id%>
  <%= f.hidden_field :curator_id, value: 1 %>
  <p><%= f.submit "Add" %></p>
<% end %>
</div>

