<%= flash[:errors] %>

<%= render partial: 'curators/show_stat', locals: {curator: @curator} %>

<div class = "div-header"></div>

  <% if logged_in? %>
    <% if @curator.is_user?(current_user) %>
      <% if @curator.username %>
        <h3 class = "center-text">username: <%= @curator.username %>
        </h3>
        <%= render partial: 'curators/username_form', locals: { curator: @curator } %>
      <% else %>
        <h5 class = "center-text">give yourself a username:
        </h5>
        <%= render partial: 'curators/username_form', locals: { curator: @curator } %>
      <% end %>
      <% if @curator.has_pending_sightings? %>
        <%= render partial: 'pending_sightings', locals: { curator: @curator } %>
      <% end %>
    <% end %>
  <% end %>
  <%= render partial: 'collections/show_all_profile', locals: { collections: @collections, profile: true } %>




