<div class = "nav">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
  <% if logged_in? %>
    <li><%= link_to 'Make a Collection!', new_collection_path %></li>
    <li><%= link_to 'Log out', logout_path %></li>
    <li>Welcome, <%= current_user.name%>!</li>
  <% else %>
    <li><%= link_to 'Log in', login_path %></li>
  <% end %>
    <li>
      <%= form_tag(search_collections_path, method: "get", enforce_utf8: false) do %>
        <%= text_field_tag(:c, "", placeholder: "Search Collections") %>
        <%= button_tag "search", name: nil, type: "submit" %>
        <% end %>
    </li>
  </ul>
</div>
